html, body {
  margin: 0;
  width: 100%;
  height: 100%
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading{
  background-color: #ccc !important;
  cursor: default !important;
}

h1 {
  margin-block-start: 0.8em;
  margin-block-end: 0.67em;
}

h1 a{
  color: black;
  text-decoration: none;
}

#dropZone {
  border: 2px dashed #aaa;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
}

#dropZone:hover {
  background-color: #f8f8f8;
}

#fileList {
  text-align: left;
  display: inline-block;
  margin-bottom: 20px;
}

#loudnessControl {
  display: inline-flex;
  align-items: center;
  margin: 20px;
}

#loudnessControl button, #processBtn {
  background-color: #3b92ef;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#processBtn {
  width: 90px;
  padding: 10px 0px;
  margin-bottom: 25px;
}

#hiddenEle {
  display: block;
  background-color: white;
  color: white;
}

#loudnessControl button:hover, #processBtn:hover {
  background-color: #3f7fc4;
  color: white;
}

#loudnessControl input {
  font-size: 16px;
  padding: 10px;
  width: 100px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.1);
}

#loudnessControl input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

#loudnessControl {
  position: relative; /* ポップアップの基準点となる */
}

.popup {
  visibility: hidden;
  width: 282px;
  background-color: #f9f9f9;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0px 6px 4px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

/* ホバー時にポップアップを表示 */
#loudnessControl:hover .popup {
  visibility: visible;
}

.popup:hover {
  visibility: visible;
}

#fileList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* コンテナの幅を親要素に合わせます */
  max-width: 300px; /* 最大幅を600pxに設定するか、任意の値に調整 */
  margin: 0 auto; /* 中央揃え */
}

.file-list-item {
  display: flex;
  justify-content: space-between; /* 要素を両端に寄せます */
  align-items: center;
  width: 100%; /* 各項目の幅をコンテナに合わせます */
  padding: 5px 0; /* 上下のパディングを設定 */
}

.file-name {
  flex-grow: 1; /* ファイル名が利用可能なスペースを埋めるように設定 */
  margin-right: 10px; /* ファイル名とダウンロードリンクの間に余白を設定 */
}

.download-link {
  white-space: nowrap; /* ダウンロードリンクが折り返さないように設定 */
}


/* style.css */
#terms-link-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#terms-popup {
  display: none; /* 初期状態では非表示 */
  position: fixed;
  z-index: 1; /* コンテンツより前面に */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* スクロール可能に */
  background-color: rgb(0,0,0); /* 背景色 */
  background-color: rgba(0,0,0,0.4); /* 透明度 */
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 1000px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#terms-link:hover{
  cursor: pointer;
  color: blue;
  /* transition: all .25s ease; */
  text-decoration-line: underline;
}



/* ダークモード対応スタイル */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #ccc;
  }

  #dropZone {
    border: 2px dashed #777;
    background-color: #444;
    color: #bbb;
  }

  #loudnessControl button,
  #processBtn {
    background-color: #555;
    color: #ddd;
    border: 1px solid #666;
  }
} */
